.home__logo {
    margin-left: -43px;
}

.date_change {
    text-align: right;
    width: 100%;
    display: inline-block;
    padding-right: 30px;
}

.link_logo {
    vertical-align: text-bottom;
    margin-right: .25em;
    width: 20px;
}

.content {
    padding-top: 36px;
}

.mobile_help {
    display: none;
    line-height: 2em;
}

.mobile_help ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mobile_help li {
    margin: 6px 0;
    list-style: none;
}
.mobile_help ul li a {
    color: #505d6b;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: none;
    display: block;
}

.sub_block {
    margin-left: 2em;
}

@media screen and (max-width: 768px) {
    .home__logo {
        margin-left: -11px;
    }

    .date_change {
        position: fixed;
        bottom: 9px;
        right: 14px;
        padding-right: 0;
    }

    .content {
        padding-top: 20px;
    }

    .mobile_help {
        display: block;
    }
}
