.home__logo {
    margin-left: -43px;
}

.date_change {
    text-align: right;
    width: 100%;
    display: inline-block;
    padding-right: 30px;
}

.link_logo {
    vertical-align: text-bottom;
    margin-right: .25em;
    width: 20px;
}

.content {
    padding-top: 36px;
}

.mobile_help {
    display: none;
    line-height: 2em;
}

.mobile_help ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mobile_help li {
    margin: 6px 0;
    list-style: none;
}
.mobile_help ul li a {
    color: #505d6b;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: none;
    display: block;
}

.sub_block {
    margin-left: 2em;
}

/*menu*/

.menu .lvl1,
.menu .lvl2,
.menu .lvl3,
.menu .lvl4,
.menu .lvl5 {
    border: 2px solid #666;
    width: 450px;
    line-height: .5;
    padding: .25em 0;
    text-align: center;
    margin-top: -2px;
    font-weight: 700;
    position: relative;
}
.menu p {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}
.menu p:nth-of-type(n+2) {
    color: #999;
}
.menu .lvl2,
.menu .lvl3,
.menu .lvl4,
.menu .lvl5,
.menu .lvl3_block,
.menu .lvl4_block,
.menu .lvl5_block {
    margin-left: 40px;
}
.menu .lvl2_block,
.menu .lvl3_block,
.menu .lvl4_block,
.menu .lvl5_block {
    border-left: 1px dashed #666;
}

.lvl1:before,
.lvl2:before,
.lvl3:before,
.lvl4:before,
.lvl5:before {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
    color: #999;
    font-size: .9em;
}
.menu {
    counter-reset: lvl0;
}
.lvl1:before {
    content: counter(lvl0);
    counter-increment: lvl0;
}
.lvl1 {
    counter-reset: lvl1;
}
.lvl2:before {
    content: counter(lvl0) "." counter(lvl1);
    counter-increment: lvl1;
}
.lvl2 {
    counter-reset: lvl2;
}
.lvl3:before {
    content: counter(lvl0) "." counter(lvl1) "." counter(lvl2);
    counter-increment: lvl2;
}
.lvl3 {
    counter-reset: lvl3;
}
.lvl4:before {
    content: counter(lvl0) "." counter(lvl1) "." counter(lvl2) "." counter(lvl3);
    counter-increment: lvl3;
}
.lvl4 {
    counter-reset: lvl4;
}
.lvl5:before {
    content: counter(lvl0) "." counter(lvl1) "." counter(lvl2) "." counter(lvl3) "." counter(lvl4);
    counter-increment: lvl4;
}

@media screen and (max-width: 768px) {
    .home__logo {
        margin-left: -11px;
    }

    .date_change {
        position: fixed;
        bottom: 9px;
        right: 14px;
        padding-right: 0;
    }

    .content {
        padding-top: 20px;
    }

    .mobile_help {
        display: block;
    }

    .menu .lvl1,
    .menu .lvl2,
    .menu .lvl3,
    .menu .lvl4,
    .menu .lvl5 {
        width: 100%;
        text-align: left;
        padding-left: 5px;
    }
    .menu .lvl2,
    .menu .lvl3,
    .menu .lvl4,
    .menu .lvl5,
    .menu .lvl3_block,
    .menu .lvl4_block,
    .menu .lvl5_block {
        margin-left: 20px;
    }
    .lvl1:before,
    .lvl2:before,
    .lvl3:before,
    .lvl4:before,
    .lvl5:before {
        left: auto;
        right: 5px;
        top: auto;
        bottom: 5px;
        transform: none;
    }
}

#propilot_checkbox,
#restyle_checkbox {
    vertical-align: text-bottom;
}
.hide {
    display: none;
}
.menu .lvl1.propilot,
.menu .lvl2.propilot,
.menu .lvl3.propilot,
.menu .lvl4.propilot,
.menu .lvl5.propilot,
.propilot_label {
    background-color: #def;
}
.menu .lvl1.restyle,
.menu .lvl2.restyle,
.menu .lvl3.restyle,
.menu .lvl4.restyle,
.menu .lvl5.restyle,
.restyle_label {
    background-color: #dfd;
}
